* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: rgba(0, 0, 0, 0.677);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: #d4af37;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  color: #d4af37;
}


.services-hero {
  background: #4b3400;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
  margin-top: 70px;
}

.services-hero h1 {
  font-size: 2.8rem;
  font-weight: 600;
  color: #d4af37;
}

.services-hero p {
  font-size: 1.1rem;
  color: #ddd;
  margin-top: 10px;
}



.services-container {
    width: 90%;
    max-width: 1300px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}


.service-card {
    width: 30.5%;              
    min-width: 300px;          
    background: #111;
    padding: 30px 25px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #222;
    margin-bottom: 30px;       
    transition: all 0.3s ease;
}


.service-card:hover {
  transform: translateY(-6px);
  border-color: #d4af37;
}

.service-card i {
  font-size: 35px;
  color: #d4af37;
  margin-bottom: 15px;
}

.service-card h3 {
  color: #fff;
  margin-bottom: 8px;
}

.service-card p {
  color: #bbb;
  font-size: 0.95rem;
}


/* CTA Section */
.services-cta {
  text-align: center;
  padding: 70px 20px;
  background: #4b3400;
  margin-top: 40px;
}

.services-cta h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 2rem;
}

.cta-btn {
  display: inline-block;
  padding: 12px 30px;
  background: #d4af37;
  color: #000;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #b8922c;
}


/* Footer */
footer {
  background-color: #0b0b0b;
  padding: 60px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}

.footer-about h3 {
  color: #d4af37;
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
}

.footer-links h4,
.footer-contact h4 {
  color: #d4af37;
  margin-bottom: 10px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
}

.footer-links a:hover {
  color: #d4af37;
}

.footer-contact p {
  color: #ccc;
  margin-bottom: 8px;
}

.socials a {
  color: #d4af37;
  margin-right: 10px;
  font-size: 1.2rem;
  transition: 0.3s;
}

.socials a:hover {
  color: #fff;
}

footer .copyright {
  text-align: center;
  color: #666;
  font-size: 0.9rem;
}
